{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Lista de Manutenção</h1>

        <div class="mb-3">
            <a href="?orderby=data_manutencao" class="btn btn-primary">Ordenar por Data</a>
            <a href="?orderby=cidade" class="btn btn-primary">Ordenar por Cidade</a>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Local</th>
                    <th>Técnico</th>
                    <th>Tipo de Manutenção</th>
                    <th>Informações</th>
                </tr>
            </thead>
            <tbody>
                {% for manutencao in manutencoes %}
                <tr>
                    <td>{{ manutencao.data_manutencao|date:"d/m/Y" }}</td>
                    <td>{{ manutencao.cidade}}</td>
                    <td>{{ manutencao.get_tecnico_manutencao_display }}</td>
                    <td>{{ manutencao.get_tipo_manutencao_display }}</td>
                    <td>
                        <button
                                class="btn btn-info btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#manutencaoModal"
                                onclick="loadManutencao('{{manutencao.id}}')">
                                Ver Detalhes
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                {% if manutencoes.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ manutencoes.previous_page_number }}">Anterior</a></li>
                {% endif %}

                {% for num in manutencoes.paginator.page_range %}
                    <li class="page-item {% if manutencoes.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if manutencoes.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ manutencoes.next_page_number }}">Próxima</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ manutencoes.paginator.num_pages }}">Última</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="modal fade" id="manutencaoModal" tabindex="-1" aria-labelledby="manutencaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manutencaoModalLabel">Detalhes da Manutenção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalContent">

                </div>
            </div>
        </div>
    </div>

    <script>
        function loadManutencao(id){
            fetch(`/manutencao/${id}/`)
                .then(response => response.json())
                .then(data => {
                    const modalContent = document.getElementById('modalContent');
                    modalContent.innerHTML = `
                    <p><strong>Data Reclamação:</strong> ${data.data_reclamacao} <strong>Data Manutenção:</strong> ${data.data_manutencao}</p>
                    <p><strong>Cidade:</strong> ${data.cidade} <strong>UF:</strong> ${data.uf}</p>
                    <p><strong>Técnico Manutenção:</strong> ${data.tecnico_manutencao}</p>
                    <p><strong>Tipo Manutenção:</strong> ${data.tipo_manutencao}</p>
                    <p><strong>Pot Direta:</strong> ${data.pot_direta} W</p>
                    <p><strong>Pot Refletida:</strong> ${data.pot_refletida} W</p>
                    <p><strong>Exciter Power:</strong> ${data.exciter_power} dBm</p>
                    <p><strong>Nível CN:</strong> ${data.nivel_CN} dB</p>
                    <p><strong>Nível Recepção Power:</strong> ${data.nivel_recepcao} dBm</p>
                    <p><strong>Comentários:</strong> ${data.comentario_manutencao}</p>

                    `;
                });
        }
    </script>
{% endblock %}
<!-- <p><strong>Visão Geral:</strong></p>
<img src="${data.VISAO_GERAL}" alt="Visão Geral" style="max-width: 100%;"> -->

