{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disponibilidade x Estação</title>
    <!-- Load the static tag -->
    {% load static %}
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Disponibilidade média dos últimos 30 dias por estação</h1>
    <canvas id="disponibilidadeChart" width="300" height="150"></canvas>

    <!-- Pagination Controls -->
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
        {% endif %}
    </div>

    <script id="labels-data" type="text/javascript">
        {{ labels|safe }}
    </script>
    <script id="data-data" type="text/javascript">
        {{ data|safe }}
    </script>


</body>
</html>
{% endblock %}

